body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

header{
    background-color: #8B4513;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.product {
    width: 220px;
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) 
}

.product img{
    width: 100%;
    border-radius: 5px;
}

.price{
    font-weight: bold;
    color: #228B22
}

.buy-btn{
    background-color: #D2691E;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.buy-btn:hover{
    background-color: #A0522D;
}

